body {
    background: linear-gradient(to right, #000000, #5c5a63),
                                url("");
    color: rgb(226, 216, 216);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 250px;
    border: 3px solid rgb(139, 121, 121);
    border-radius: 30px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: rgb(136, 121, 121);
    color: rgb(255, 255, 255);
}

p {
    color: rgb(255, 255, 255);
}

footer p{
    color: rgb(207, 45, 45);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}
